@model JobPortalMVC.Models.Experience

@{
    ViewData["Title"] = "Create";
}

<h1>Utwórz</h1>

<h4>Doświadczenie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CompanyName" class="control-label">Firma</label>
                <input asp-for="CompanyName" class="form-control" />
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label">Data rozpoczęcia</label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label">Data zakończenia</label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="CandidateCandidateId" class="control-label">Kandydat</label>
                <select asp-for="CandidateCandidateId" class="form-control" asp-items="ViewBag.CandidateCandidateId" value="@ViewBag.CandidateId"></select>
            </div>*@
            @*<div class="form-group">
                <label asp-for="CandidateCandidateId" class="control-label">Kandydat</label>
                <select asp-for="CandidateCandidateId" class="form-control" asp-items="ViewBag.CandidateId" value="@ViewBag.CandidateId"></select>
            </div>*@
            <div class="form-group">
                <label asp-for="ClientDatabaseClientDatabaseId" class="control-label">Baza klientów</label>
                <select asp-for="ClientDatabaseClientDatabaseId" class="form-control" asp-items="ViewBag.ClientDatabaseClientDatabaseId"></select>
            </div>
            <div class="form-group">
                <label asp-for="IndustryIndustryId" class="control-label">Branża</label>
                <select asp-for="IndustryIndustryId" class="form-control" asp-items="ViewBag.IndustryIndustryId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ClientTypeClientTypeId" class="control-label">Typ klienta</label>
                <select asp-for="ClientTypeClientTypeId" class="form-control" asp-items="ViewBag.ClientTypeClientTypeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="PositionPositionId" class="control-label">Stanowisko</label>
                <select asp-for="PositionPositionId" class="form-control" asp-items="ViewBag.PositionPositionId"></select>
            </div>
            <div class="form-group">
                <label asp-for="SalesCycleLengthSalesCycleLengthId" class="control-label">Dł. cyklu sprzedaży</label>
                <select asp-for="SalesCycleLengthSalesCycleLengthId" class="form-control" asp-items="ViewBag.SalesCycleLengthSalesCycleLengthId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Utwórz" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-controller="Candidates" asp-action="GetExperiences"  asp-route-id="2">Wróć</a>
</div>